<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form-signin ">
    <div class="text-center mb-4">

        <h1 class="h3 mb-3 font-weight-normal">Sisteme Giriş</h1>

    </div>

    <div class="form-label-group">
        <input type="text" #userName="ngModel" [(ngModel)]="model.userName" id="userName" name=userName class="form-control" placeholder="Kullanıcı Adı" required autofocus>
        <label for="userName">Kullanıcı Adı</label>
    </div>

    <div class="form-label-group">
        <input type="password" #password="ngModel" [(ngModel)]="model.password" id="password" name="password" class="form-control" placeholder="Şifre" required>
        <label for="password">Password</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2020-2021</p>
</form>